<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing" thread-count="2" parallel="classes">
    <listeners>
    <listener class-name="org.example.base.Listeners"></listener>
    </listeners>
    <test name="Regression">
        <classes>
            <class name="org.example.ProjectLoginTest1"/>
        </classes>
    </test> <!-- Test -->


</suite> <!-- Suite -->